/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
/* @tailwind base;
@tailwind components; */
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  background-color: #f8fafc; /* Light gray background */
}
/* Custom styles for better visual appeal */
.gradient-bg {
  background: linear-gradient(
    to right,
    #6366f1,
    #8b5cf6
  ); /* Indigo to Violet */
}
.text-gradient {
  background: linear-gradient(to right, #6366f1, #8b5cf6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
